{{#if session.isLoggedIn}}
<div class="button book-appointment {{if buttonStyle buttonStyle 'small action' }}"
  {{action "redirectAsPerUserDetails"}}>
  <i class="fa">{{fa-icon 'calendar'}}</i>
  {{t (if isMyOrdersRoute "home.visit.new_appointment" "home.visit.action")}}
</div>
{{else}}
{{#link-to "login" (query-params bookAppointment=true)}}
<div class="button book-appointment {{if buttonStyle buttonStyle 'small action' }}">
  <i class="fa">{{fa-icon 'calendar'}}</i>
  {{ t "home.visit.action" }}
</div>
{{/link-to}}
{{/if}}
