<div>
  {{#if session.isLoggedIn}}
    <div class="{{if (has-block) "hide" "button book-appointment"}} {{if disabled 'disabled'}} {{if (has-block) "hide" (if buttonStyle buttonStyle 'small action') }}"
      {{action "redirectAsPerUserDetails"}}>
      <i class="fa">{{fa-icon 'calendar'}}</i>
      {{t (if isMyOrdersRoute "home.visit.new_appointment" "home.visit.action")}}
    </div>
    {{yield (hash clickItem=(action "redirectAsPerUserDetails"))}}
    {{else}}
      <div class="{{if (has-block) "hide" "button book-appointment"}} {{if disabled 'disabled'}} {{if (has-block) "hide" (if buttonStyle buttonStyle 'small action') }}" {{action "redirectToLogin"}}>
        <i class="fa">{{fa-icon 'calendar'}}</i>
        {{ t "home.visit.action" }}
      </div>
      {{yield (hash clickItem=(action "redirectToLogin"))}}
  {{/if}}
</div>
