<div class="columns small-4 large-3 image-container">
  {{#if item.images.length}}
    <div id='lightGallery{{item.id}}' class="images">
      {{#slick-carousel class="ember-carousel no_bottom_margin" autoplay=true autoplaySpeed=2500 speed=500 swipeToSlide=true infinite=false  mobileFirst=true touchMove=true slidesToShow=1 slidesToScroll=1}}
        {{#each itemImages as |image|}}
          <div data-src={{image.imageUrl}} class="imageZoom  view-image">
            <img class="thumb-image" src="{{image.imageUrl}}" />
          </div>
        {{/each}}
      {{/slick-carousel}}
    </div>
  {{else}}
    <div class="offer">
      {{partial "no_image"}}
    </div>
  {{/if}}
</div>
<div class="columns small-8 large-9 item-list">
  <div class="item-details">
    {{t "itemdetail.quantity"}}: {{item.attributes.received_quantity}}
  </div>
  <div class="item-details">
    {{t "itemdetail.categories"}}: {{packageType}}
  </div>
  <div class="item-details">
    {{t "itemdetail.description"}}: {{description}}
  </div>
  <div class="item-details">
    {{t "itemdetail.condition"}}: {{condition}}
  </div>
  {{#if dimension}}
    <div class="item-details">
      {{t "itemdetail.dimension"}}: {{dimension}}
    </div>
  {{/if}}
</div>
