{{#if isEnglish}}
<a href="" {{action "setLanguage" 'zh-tw'}} class="selected">{{t "language.zh"}}</a>
{{else}}
<a href="" {{action "setLanguage" 'en'}} class="selected">{{t "language.en"}}</a>
{{/if}}
