<div class="header">
  <span class="location">{{locationName}}</span>
  <span class="offers-time-ago">
    {{t "shareableOffers.offered"}}
    {{display-datetime validDate format="preset:timeago"}}
  </span>
  <div class="right underline-link view_offer">
    {{#if session.isLoggedIn}}
      {{#link-to "offers.messages"record.id (query-params uid=record.public_uid ) }}
        {{t "shareableOffers.respond_offer"}}
      {{/link-to}}
    {{else}}
      {{#link-to "offers.detail" record.public_uid  }}
        {{t "shareableOffers.view_offer"}}
      {{/link-to}}
    {{/if}}
  </div>
</div>
<div class="large-block-grid-5 small-block-grid-2 medium-block-grid-3 list items_list xxlarge-block-grid-4">
  {{#each initialItems as |item|}}
    <li class="offer-item">
      {{cloudinary-image-tag src=item.previewUrl}}
      <div class="image-item-overlay image-tabs">
        <div class="item_desc">
          <li class="ellipsis two-line-ellipsis" style="color: white;">
            <span class="item-notes">
              {{item.description}}
            </span>
          </li>
        </div>
      </div>
    </li>
  {{/each}}
</div>
<hr>
