<div class="max-quantity">
  {{t "requested_package.max_quantity" quantity=package.quantity}}
</div>
<div class="quantity-widget">
  <span id='decrementOperator' {{action 'decrementQty' package.id}}>
    {{fa-icon 'minus'}}
  </span>
  <span class="qty">
    {{input type="number"  value=value  name="requestedQuanity" id=(concat "qty" package.id)  pattern="\d{1,8}" required="true" focusOut=(action 'focusOut' package)}}
  </span>
  <span id='incrementOperator' {{action 'incrementQty' package.quantity package.id}}>
    {{fa-icon 'plus'}}
  </span>
</div>
{{#if showErrorMessage}}
  <div class="error-msg">{{t "requested_package.boundaries" max=package.quantity}}</div>
{{/if}}
