<div class="small-12 medium-9 large-9 columns type-of-id-text">
  Input the last 4 digits of the client's HKID
</div>
<div class="small-12 medium-9 large-9 columns id-confidential-text">
  You do not need to include number in brackets
</div>
<div class="row hk-id">
  <div class="small-12 columns">
    <div class="small-3 medium-9 large-9 columns p12">
      <label> P12 </label>
    </div>
    <div class="columns small-3">
      {{#form-control}}
        {{numeric-input name="hk_id" id="hk-id-number" value=peopleCount maxlength="4" placeholder="XXXX" required='true'}}
      {{/form-control}}
    </div>
    <div class="columns small-6 x-with-brackets">
      (X)
    </div>
    <div class='small-12 columns input-error type-of-id-text'>Please input number only</div>
  </div>
</div>

<div class='row client-name-labels'>
  <div class="columns small-2">
    <label>
      Title
    </label>
  </div>
  <div class="columns small-5">
    <label>
      Client's First Name
    </label>
  </div>
  <div class="columns small-5">
    <label>
      Client's First Name
    </label>
  </div>
</div>
<div class="row client-name-inputs">
  {{#form-control}}
    <div class="columns small-2">
      {{input type='text' id="title" value=title required='true'}}
    </div>
    <div class="columns small-5">
      {{input type='text' value=firstName required='true'}}
    </div>
    <div class="columns small-5">
      {{input type='text' value=lastName required='true'}}
    </div>
  {{/form-control}}
</div>

<div class="row client-name-inputs">
  <div class="small-12 medium-9 large-9 columns type-of-id-text">
    Clients contact phone number
  </div>
  <div class="small-12 medium-9 large-9 columns id-confidential-text">
    We will use this number to confirm schedule and details.
  </div>
  <div class="row">
    {{#form-control}}
      <div class="row client-name-inputs">
        <div class="small-3 large-1 columns">
          <span class="prefix">+852</span>
        </div>
        <div class="small-9 large-11 columns">
          {{numeric-input value=mobilePhone name="mobilePhone" id="mobile" maxlength="8" required=true pattern=".{8,}" autoFocus=true}}
        </div>
      </div>
    {{/form-control}}
  </div>

  <div class="row">
    <div class="small-12 columns">
      <a {{action 'submit' target=form}} class="button expand">Continue</a>
    </div>
  </div>
</div>

