<div class="row header tab-bar">
  {{#link-to 'my_orders'}}
  <div class="columns small-2 close-order-summary">
    <i class="fa fa-lg" aria-hidden="true">{{fa-icon 'times-circle' prefix="far"}}</i>
  </div>
  {{/link-to}}
  <div class="columns small-8 strong">
    {{ order.code }}
  </div>
  {{log 'hit'}}
  <div class="columns small-2 header-icon">
    <div class="icon">
      <i class="fa fa-lg">{{fa-icon order.stateIcon}}</i>
    </div>
    <div class="sub-text">{{ t (concat 'my_orders.' order.state) }}</div>
  </div>
</div>
