<div class="row my_orders">
	<div class="small-12 columns content">
		<div class="order-summary {{order.state}}">
			{{partial 'orders/order_header'}}
			{{partial 'orders/order_tabs'}}
			<div class="tab-content">
				<div class="goods-tab">
					{{#if hasRequestedGoods}}
					{{!-- REQUESTS --}}
						<section class="details">
							<div class="section-title">
								{{ t "my_orders.details.goods_requested" }}
							</div>

							{{#each requestedGoods as |good|}}
								<div class="detail-row row">
									<div class="data-type">{{ good.category }}</div>
									<div class="data">{{ good.text }}</div>
								</div>
							{{/each}}
						</section>
					{{/if}}

					{{#if hasOrderedGoods}}
					{{!-- ORDERS --}}
						<section class="details">
							<div class="update-order-block">
								{{#if showUpdateMessage}}
									<div class="small-12 columns updated-order-message fade-out">
										{{fa-icon "exclamation-triangle"}}
										<span class="fade-out-message">{{ t "my_orders.details.update_message" }}</span>
									</div>
								{{/if}}
								<div class="section-title">
									{{ t "my_orders.details.goods_ordered" }}
								</div>
								<div class="browse-link">
									{{fa-icon "shopping-basket"}}
									{{#link-to 'browse'}}
										{{ t "my_orders.details.link_to_browse" }}
									{{/link-to}}
								</div>
								<em class="update-note">
									{{ t "my_orders.details.note" }}
								</em>
							</div>
							{{#each orderedGoods as |good|}}
								<div class="row product-row">
									<div class="columns small-4 image-container">
										<img src={{good.package.previewImageUrl}} />
									</div>
									<div class="columns small-8 text-container">
										<div class="text">{{ good.package.packageType.name }}</div>
										<div class="notes">{{ good.package.notes }}</div>
									</div>
								</div>
							{{/each}}
						</section>
					{{/if}}
				</div>
			</div>
		</div>
	</div>
</div>
