<div class="cart-controls">
  <p id="messageBoxText">
    <i class="fa">{{fa-icon 'shopping-cart'}}</i> {{t "cart_content.your_request"}}
  </p>
  <div class="row">
    <div class="small-6 columns">
      <a {{action 'hideCart'}} class="button expand secondary">
        {{t "cart_content.continue_browsing"}}
      </a>
    </div>
    <div class="small-6 columns">
      <a {{action 'checkout'}} class="button expand" disabled={{cart.isEmpty}}>
        {{t "cart_content.submit_request"}}
      </a>
    </div>
  </div>
</div>
<div class="row item-collection">
  <div class="small-12 columns">
    {{#each cart.groupedPackages as |row|}}
      <li>
        {{#if row.record.isSet}}
          <div class="row cart-redirect-link {{unless row.isAvailable "disabled"}}">
            <div class=" small-8 columns"
            {{action 'showItemDetails' row.record}}>
              <!-- DESCRIPTION -->
              {{row.record.packageType.name}}
            </div>
            <div class=" small-4 columns remove_link">
              <div {{action 'remove' row.record target=cart}}>
                <i class="fa">{{fa-icon 'times'}}</i>
                <span>{{t "cart_content.remove"}}</span>
              </div>
            </div>
          </div>
          <div class="row">
            {{#each row.record.packages as |row|}}
              <div class="row cart-row">
                <div class="small-3 columns cart-redirect-link {{unless row.isAvailable "disabled"}}"{{action 'showItemDetails' row}}>
                  <!-- Thumbnail -->
                  <img class="thumb-image {{unless row.isAvailable 'grayed-image'}}"
                  src="{{row.favouriteImage.cartImageUrl}}" />
                </div>
                <div class="small-6 columns cart-redirect-link {{unless row.isAvailable "disabled"}}"{{action 'showItemDetails' row}}>
                  <div class="package-name">
                    <!-- Title -->
                    {{row.notes}}
                  </div>
                  <!-- Availability -->
                  {{#unless row.isAvailable}}
                    <div class="unavailable red-warning">{{t "cart_content.unavailable"}}</div>
                  {{/unless}}
                </div>
                <div class=" small-3 columns remove_link cart-column">
                  <div class="set-cart-column">
                    {{#if row.isAvailable}}
                      {{quantity-widget package=row type="update" updateAction=(action 'UpdateRequestedValue')}}
                    {{/if}}
                  </div>
                </div>
              </div>
            {{/each}}
          </div>
        {{else}}
          <div class="row">
            <div class="small-3 columns cart-redirect-link {{unless row.isAvailable "disabled"}}"
            {{action 'showItemDetails' row.record}}>
              <!-- Thumbnail -->
              <img class="thumb-image {{unless row.isAvailable 'grayed-image'}}"
              src="{{row.record.favouriteImage.cartImageUrl}}" />
            </div>
            <div class="small-6 columns cart-redirect-link {{unless row.isAvailable "disabled"}}"
            {{action 'showItemDetails' row.record}}>
              <div class="package-name">
                <!-- Title -->
                {{row.record.packageType.name}}
              </div>
              <!-- Availability -->
              {{#unless row.isAvailable}}
                <div class="unavailable red-warning">{{t "cart_content.unavailable"}}</div>
              {{/unless}}
            </div>
            <div class="small-3 large-3 columns remove_link">
              <div {{action 'remove' row.record target=cart}}>
                <i class="fa">{{fa-icon 'times'}}</i>
                <span>{{t "cart_content.remove"}}</span>
              </div>
              <div class="cart-column">
                {{#if row.isAvailable}}
                  {{quantity-widget package=row.record type="update" updateAction=(action 'UpdateRequestedValue')}}
                {{/if}}
              </div>
            </div>
          </div>
        {{/if}}
      </li>
    {{else}}
      <div align="center" class="cart-message-box">
        <p>
          {{t "cart_content.empty_cart"}}<b><a {{action 'hideCart'}}
            class="empty-cart-message">{{t "cart_content.find_items"}}</a></b>
        </p>
      </div>
    {{/each}}

  </div>
</div>
