{{#each cart.content as |record|}}
  <li>
    <div class="row" {{action 'updateCartItemParams' record.id}}>
      <div class="large-3 medium-3 columns">
        {{#link-to 'package' record.id (query-params sortBy=sortBy categoryId=category) disabled=(is-not record.available) class="cart-redirect-link"}}
          <img class="thumb-image {{unless record.available 'grayed-image'}}" src="{{record.imageUrl}}" />
        {{/link-to}}
      </div>

      <div class="large-9 medium-9 columns">
        {{#link-to 'package' record.id (query-params sortBy=sortBy categoryId=category) disabled=(is-not record.available) class="cart-redirect-link"}}
          {{record.name}}
        {{/link-to}}

        {{#unless record.available}}
          <div class="unavailable">{{t "cart_content.unavailable"}}</div>
        {{/unless}}
      </div>
    </div>
  </li>
{{/each}}
