<section class="main-section your-detail client-information large-10 large-offset-1 medium-10 medium-offset-1 small-12">
  <div class="row">
    <div class="small-12 columns type-of-id-text">
      <h1 class="title"> {{t "order.confirm_booking.goods_detail.title"}} </h1>
    </div>
  </div>

  {{#each cart.groupedPackages as |row|}}
    {{#if row.record.isSet}}
      <div class="row info cart-item-info detail {{unless row.isAvailable "unavailable" }}">
        <div class="small-8 columns cart-redirect-link">
          <!-- Title -->
          {{row.record.packageType.name}}
        </div>
        <div class=" small-4 columns remove_link">
          <div {{action 'remove' row.record target=cart}}>
            <a><i class="fa">{{fa-icon 'times'}}</i>
            {{t 'item.remove_item'}}</a>
          </div>
        </div>
      </div>
      <div class="row info cart-item-info">
        {{#each row.record.packages as |row|}}
          <div class="row info cart-item-info">
            <div class="small-4 columns cart-redirect-link">
              <!-- Thumbnail -->
              <img class="thumb-image" src="{{row.displayImageUrl}}"/>
            </div>
            <div class="small-4 detail columns">
              <div class="package-name">
                <!-- Title -->
                {{row.packageType.name}}
              </div>
              <!-- Availability -->
              {{#unless row.isAvailable}}
                <div class="unavailable red-warning">
                  {{t "cart_content.unavailable"}}
                </div>
              {{/unless}}
            </div>
            <div class="small-4 columns">
              <div class="cart-widget">
                {{quantity-widget package=row type="update" updateAction=(action 'setUpdatedValue')}}
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    {{else}}
      <div class="row info cart-item-info {{unless row.isAvailable "unavailable" }}">
        <div class="small-4 columns">
           <!-- Thumbnail -->
          <img class="thumb-image" src="{{row.record.displayImageUrl}}"/>
        </div>
        <div class="small-4 detail columns">
          <div class="package-name">
            <!-- Title -->
            {{row.record.packageType.name}}
          </div>
          <!-- Availability -->
          {{#unless row.isAvailable}}
            <div class="unavailable red-warning">{{t "cart_content.unavailable"}}</div>
          {{/unless}}
          <a {{action cart.remove row.record target=cart}}> {{t 'item.remove_item' }}</a>
        </div>
        <div class="small-4 columns">
          <div class="cart-widget">
            {{quantity-widget package=row.record type="update" updateAction=(action 'setUpdatedValue')}}
          </div>
        </div>
      </div>
    {{/if}}
    <hr>
  {{/each}}

  <div class="row request_more_link">
    <a {{action 'browseMore'}}>{{t 'order.goods_details.request_more' }}</a>
  </div>
</section>
