<section class="main-section your-detail client-information large-10 large-offset-1 medium-10 medium-offset-1 small-12">
  <div class="row">
    <div class="small-12 columns type-of-id-text">
      <h1 class="title"> {{t "order.confirm_booking.goods_detail.title"}} </h1>
    </div>
  </div>

  {{#each cart.cartItems as |cartItem|}}
    <div class="row info cart-item-info {{unless cartItem.isAvailable "unavailable" }}">
      <div class="small-4 columns">
        <img class="thumb-image" src="{{cartItem.package.displayImageUrl}}" />
      </div>
      <div class="small-8 detail columns">
        <div class="package-name">{{cartItem.package.packageName}}</div>
        {{#unless cartItem.isAvailable}}
          <div class="unavailable">{{t "cart_content.unavailable"}}</div>
        {{/unless}}
      </div>
    </div>
    <hr>
  {{/each}}
</section>
