<section class="main-section your-detail client-information large-10 large-offset-1 medium-10 medium-offset-1 small-12">
  <div class="row">
    <div class="small-12 columns type-of-id-text">
      <h1 class="title"> {{t "order.confirm_booking.schedule_summary.title"}} </h1>
    </div>
  </div>

  <div class="row info">
    <div class="small-4 columns">
      {{t "order.confirm_booking.schedule_summary.transport"}}
    </div>
    <div class="small-8 detail columns">
      {{order.appointmentTransport}}
    </div>
  </div>

  <div class="row info">
    <div class="small-4 columns">
      {{t "order.confirm_booking.schedule_summary.labour"}}
    </div>
    <div class="small-8 detail columns">
      {{t "order.confirm_booking.schedule_summary.labour_info"}}
    </div>
  </div>

  <div class="row info">
    <div class="small-4 columns">
      {{t "order.confirm_booking.schedule_summary.time"}}
    </div>
    <div class="small-8 detail columns">
      {{#if order.isAppointment}}
        {{order.appointmentTime}}
      {{else}}
        {{order.appointmentDate}},
        {{#if order.orderTransport.isMorning}}
          {{t 'morning'}}
        {{else}}
          {{t 'afternoon'}}
        {{/if}}
      {{/if}}
    </div>
  </div>

  {{#if (is-and order.isOnlineOrder order.orderTransport.isDelivery)}}
    <div class="row info">
      <div class="small-4 columns">
        {{t "order.online_order.delivery_address_short"}}
      </div>
      <div class="small-8 detail columns">
        <div>{{order.address.street}}</div>
        <div>{{order.address.building}}</div>
        <div>{{order.address.flat}}</div>
        <div>{{order.address.district.name}}</div>
      </div>
    </div>

    {{#if order.address.notes}}
      <div class="row info">
        <div class="small-4 columns">
          {{t "order.online_order.address_fields.notes"}}
        </div>
        <div class="small-8 detail columns">
          {{order.address.notes}}
        </div>
      </div>
    {{/if}}
  {{/if}}
</section>
