<div class="title show-for-medium-up">
  <div class="large-1 medium-1 columns">
     {{notification-icon}}
  </div>
  <div style="padding-right:3rem;">
    {{t "my_dashboard.title"}}
  </div>
</div>

<div class="row tabs tab-icons">
  <div class="small-3 orders tab columns text-center">
    {{#link-to 'my_bookings'}}
      {{bookings-icon}}
    {{/link-to}}
  </div>

  <div class="small-3 orders tab columns text-center">
    {{#link-to 'my_orders'}}
      {{online-orders-icon}}
    {{/link-to}}
  </div>

  <div class="small-3 orders tab columns text-center">
    {{#link-to 'my_orders'}}
      <i class="fa dashboard-menu item-menu">{{fa-icon 'hand-paper'}}</i>
      Direct from Donors
    {{/link-to}}
  </div>

  <div class="small-3 orders tab columns text-center">
    {{#link-to 'my_account' }}
      <i class="fa dashboard-menu item-menu">{{fa-icon 'address-card'}}</i>
      {{t 'my_dashboard.account.account_text'}}
    {{/link-to}}
  </div>
</div>
