<div class="booking-tab">

  {{!-- FIRST SECTION: ORDER INFO/STATUS --}}
  <section class="details">
    <div class="row">
      <div class="small-6 medium-6 large-6 columns section-title">
        {{ t 'my_orders.details.beneficiary.appointment_details' }}
      </div>
      {{#if selectedOrder.isEditAllowed}}
        <div class="small-3 medium-3 large-3 columns">
          <a {{action "cancelBookingPopUp" "appointment_details"}} class="button expand secondary cancel-booking">
            {{t 'cancel'}}
          </a>
        </div>
        <div class="small-3 medium-3 large-3 columns">
           <a {{action "redirectToEdit" "appointment_details"}} class="button expand edit-appointment-details">
            {{t 'edit'}}
          </a>
        </div>
      {{/if}}
    </div>
    {{!-- ORDER TYPE --}}
    <div class="detail-row row">
      <div class="data-type">{{ t "my_orders.details.type" }}</div>
      <div class="data">
        {{#if selectedOrder.orderTransport.isAppointment}}
          {{ t "my_orders.details.types.visit" }}
        {{else}}
          {{ t "my_orders.details.types.delivery" }}
        {{/if}}
      </div>
    </div>

    {{!-- TRANSPORT --}}
    <div class="detail-row row">
      <div class="data-type">{{ t "my_orders.details.transport" }}</div>
      <div class="data">{{ t (concat "my_orders.details.transports." selectedOrder.transportKey) }}</div>
    </div>

    {{!-- SCHEDULED DATE --}}
    <div class="detail-row row">
      <div class="data-type">{{ t "my_orders.details.appointment" }}</div>
      <div class="data">{{ display-datetime selectedOrder.orderTransport.scheduledAt format="dddd Do MMMM hh:mm a" }}</div>
    </div>

    {{!-- ORDER STATE --}}
    <div class="row state-description">
      <div class="state-container">
        <div class="state-title">
          <i class="fa fa-lg fa-{{ selectedOrder.stateIcon }}"></i>
          {{ t (concat "my_orders.details.state_titles." selectedOrder.state) default=selectedOrder.state }}
        </div>
        <div class="state-text">
          {{ t (concat "my_orders.details.state_descriptions." selectedOrder.state) }}
        </div>
      </div>
    </div>
  </section>

  {{!-- SECOND SECTION: BENEFICIARY  --}}
  <section class="details beneficiary">
    <div class="row">
      <div class="small-9 medium-9 large-9 columns section-title">
        {{ t 'my_orders.details.beneficiary.client_information' }}
      </div>
      {{#if selectedOrder.isEditAllowed}}
        <div class="small-3 medium-3 large-3 columns section-title">
          <a {{action "redirectToEdit" "client_information"}} class="button expand edit-appointment-details">
            {{t 'edit'}}
          </a>
        </div>
      {{/if}}
    </div>
    {{#if selectedOrder.beneficiary}}
      {{!-- ID TYPE --}}
      <div class="detail-row row">
        <div class="data-type">{{ t 'my_orders.details.beneficiary.id_type' }}</div>
        <div class="data">{{ selectedOrder.beneficiary.identityType.name }}</div>
      </div>
      {{!-- ID NO --}}
      <div class="detail-row row">
        <div class="data-type">{{ t 'my_orders.details.beneficiary.id_number' }}</div>
        <div class="data">{{ selectedOrder.beneficiary.identityNumber }}</div>
      </div>
      {{!-- NAME --}}
      <div class="detail-row row">
        <div class="data-type">{{ t 'my_orders.details.beneficiary.client_name' }}</div>
        <div class="data">
          {{ selectedOrder.beneficiary.title }}
          {{ selectedOrder.beneficiary.firstName }}
          {{ selectedOrder.beneficiary.lastName }}
        </div>
      </div>
      {{!-- MOBILE --}}
      <div class="detail-row row">
        <div class="data-type">{{ t 'my_orders.details.beneficiary.client_phone' }}</div>
        <div class="data">{{ selectedOrder.beneficiary.phoneNumber }}</div>
      </div>
    {{else}}
      <div class="detail-row row">
        <div class="data-type">{{ t 'my_orders.details.not_applicable' }}</div>
      </div>
    {{/if}}
  </section>

  {{!-- THIRD SECTION: REQUEST INFO --}}
  <section class="details purpose">
    <div class="row">
      <div class="small-9 medium-9 large-9 columns section-title">
        {{ t 'my_orders.details.request.request_purpose' }}
      </div>
      {{#if selectedOrder.isEditAllowed}}
        <div class="small-3 medium-3 large-3 columns section-title">
          <a {{action "editRequestPurpose"}} class="button expand edit-appointment-details">
            {{t 'edit'}}
          </a>
        </div>
      {{/if}}
    </div>
    {{!-- Purpose --}}
    <div class="detail-row row">
      <div class="data-type">{{ t 'my_orders.details.request.purpose_of_goods' }}</div>
      <div class="data">
        <ul>
          {{#each selectedOrder.ordersPurposes as |orderPurpose|}}
            <li>
              {{ orderPurpose.purpose.description }}
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
    {{!-- Number benefiting --}}
    <div class="detail-row row">
      <div class="data-type">{{ t 'my_orders.details.request.number_benefiting' }}</div>
      <div class="data">{{ selectedOrder.peopleHelped }}</div>
    </div>
    {{!-- Description of needs --}}
    <div class="detail-row row">
      <div class="data-type">{{ t 'my_orders.details.request.description_of_needs' }}</div>
      <div class="data">{{ selectedOrder.purposeDescription }}</div>
    </div>
  </section>
</div>
