<div class="row my_dashboard offer-details category_page offers">
  {{partial 'offers/offers_tabs'}}

  <div class="offer_view">
    <span style="color: white;">
      {{t "shareableOffers.offer_instruction"}} :
    </span>
    <span>
      {{#if (is-and (is-equal session.language "zh-tw") model.public_notes_zh_tw)}}
        {{apply-line-break model.public_notes_zh_tw}}
      {{else if model.public_notes}}
        {{apply-line-break model.public_notes}}
      {{else}}
        {{t "shareableOffers.no_description_available"}}
      {{/if}}
    </span>
  </div>
  <section class="main-section category-items-list">
    <ul>
      {{#each model.items as |item|}}
        <div class="row items">
          {{item-thumbnail-view item=item displayItemOverlay=true}}
        </div>
        <hr>
      {{/each}}
    </ul>
  </section>
</div>
