<nav class="tab-bar category_page hide-for-small">
  <section class='left-samll'style="float: left;padding-top:0.6rem;">
    {{#back-link fallbackRoute="/" }}
        {{fa-icon "angle-left"}} {{t "back"}}
    {{/back-link}}
  </section>
  <section class='main-section ui'>
    <div align="center" class="title">{{t "shareableOffers.offer_details"}} {{model.id}}</div>
  </section>
</nav>

{{#if offerNotPresent}}
 <div class="row" style="padding: 4rem;">
    This offer is closed to new responses:
    <ul>
      <li>
        {{#link-to "offers"}}
          <u>See all available offers</u>
        {{/link-to}}
      </li>
      <li style="color: white;">
        Visit your
        {{#link-to "my_orders"}}
          <u>dashboard</u>
        {{/link-to}}
        to see any offers you have responded to already
      </li>
    </ul>
  </div>
{{else}}
  <div class="row my_dashboard offer-details category_page offers">
    <div class="offer_display">
      <div class="offer_view">
        <span style="color: white;">
          District : {{offerDistrict}}
        </span>
        <span style="color: white;">
          Notes :
        </span>
        <span>
          {{#if (is-and (is-equal session.language "zh-tw") model.public_notes_zh_tw)}}
            {{apply-line-break model.public_notes_zh_tw}}
          {{else if model.public_notes}}
            {{apply-line-break model.public_notes}}
          {{else}}
            {{t "shareableOffers.no_description_available"}}
          {{/if}}
        </span>
      </div>
      {{#link-to "offers.messages"model.id (query-params uid=uid) class="right underline-link view_offer view_message"}}
        {{t "shareableOffers.respond_offer"}}
      {{/link-to}}
    </div>

    <section class="main-section category-items-list">
      <ul>
        {{#each model.items as |item|}}
          <div class="row items">
            {{item-thumbnail-view item=item displayItemOverlay=true noResize=true}}
          </div>
          <hr>
        {{/each}}
      </ul>
    </section>
  </div>
{{/if}}
