<div class="category_page">
  <nav class="tab-bar category_page">
    <section class='main-section ui'>
      <h1 class="title hide-for-small">{{model.name}}</h1>
      <section class="search_icon right-small">
        {{#link-to "search_goods"}}
        <i class="fa">{{fa-icon 'search'}}</i>
        {{/link-to}}
      </section>
      <div class="browse-item-navbar">
        {{partial 'breadcrumbs'}}
      </div>
    </section>
  </nav>

  <section class="main-section category-items-list">
    <div class="row sort">
      <div class="small-2 medium-1 medium-offset-7 small-offset-5 columns large-1 large-offset-9 title" align="right">
        {{t "category.sort.title"}}
      </div>
      <div class="small-4 large-2 columns dropdown" align="left">
        {{ select-list class="package-category" content=sortOptions on-change=(action (mut selectedSort)) }}
        <i class="fa dropdown">{{fa-icon 'sort-amount-down'}}</i>
      </div>
    </div>

    <hr>
    <ul class="large-block-grid-6 small-block-grid-2 medium-block-grid-3 list items_list xxlarge-block-grid-4">
      {{#each model as |record|}}
        <div>
          <div class="header">
            <span style="color:#A7ACB1;">Tuen Mun-11 Items</span>
            <span style="margin-left: 6%;color: #C4C9CF;">Offered 4 hours ago</span>
            {{#link-to "offers.detail" 21 class="underline-link" style="background: #ED4C4E;padding-left: 20px;padding-right: 20px;color: #F7C8C8;padding-top: 5px;padding-bottom: 5px;"}}
              View/Respond to this offer
            {{/link-to}}
            {{!-- <div class="right" style="background: #ED4C4E;padding-left: 20px;padding-right: 20px;color: #F7C8C8;padding-top: 5px;padding-bottom: 5px;">View/Respond to this offer</div> --}}
          </div>
          <div class="sub-heading" style="margin-top: 1.5%;">
            Seating(7) | Shelves(1) | Storage(2) | Recreation(1)
          </div>
          <div class="large-block-grid-6 small-block-grid-2 medium-block-grid-3 list items_list xxlarge-block-grid-4">
            {{#each record.items as |item|}}
              {{log item.images.[0].attributes.cloudinary_id}}
              <li>
                {{cloudinary-image-tag src=item.images.[0].attributes.cloudinary_id item=item displayItemName="Piano: upright" displayItemOverlay=true}}
              </li>  
            {{/each}}
          </div>
        </div>
        <hr>
      {{/each}}
    </ul>
  </section>
</div>
