{{#unless isHomePage}}
  <aside class="right-off-canvas-menu menu-list cart-items">
      <ul class="off-canvas-list menu cart-content-images">
        <li class="cart-controls">
          {{partial 'cart_truck_icon'}}
          <div {{action 'displayCart'}} class="show_cart_link">{{t "show"}}</div>
        </li>

        <div class="item-collection">
          {{#each cart.groupedPackages as |row|}}

            {{#if row.isAvailable}}
              <li {{action "showItemDetails" row.record}}>
                <img class="thumb-image" src="{{row.record.favouriteImage.cartImageUrl}}" />
              </li>
            {{else}}
              <li>
                <img class="thumb-image grayed-image" src="{{row.record.favouriteImage.cartImageUrl}}" />
              </li>
            {{/if}}

          {{/each}}
        </div>
      </ul>
  </aside>
{{/unless}}
