<nav class="breadcrumbs">
  {{!-- all goods --}}
  {{#link-to 'browse' classNames="underline-link"}}{{t 'browse.all_goods'}}{{/link-to}}
  {{!-- level 1 of breadcrumb --}}
  <div {{action (mut selectedCategoryId)}}>
    <span class="category_name {{if isCategorySelected "underline-link" "current"}}">
      {{if currentCategory.isParent currentCategory.name currentCategory.parentCategory.name}}
    </span>
  </div>
  {{!-- level 2 of breadcrumb--}}
  {{select-list
    class= (if isCategorySelected "underline-link current category_select" " category_select")
    idNames="category_select"
    content=selectCategories
    on-change=(action (mut selectedCategoryId))
    prompt=(t 'browse.filter_results')
    showDropdownIcon=true
  }}
</nav>
