<section class="main-section new-user-section ui login_page">
  <nav class="tab-bar">

    <section class="left-large">
      {{#back-link fallbackRoute="/" }}
        {{fa-icon "angle-left"}} {{t "back"}}
      {{/back-link}}
    </section>

    <section class="middle tab-bar-section">
      <h1 class="title">{{t "about.title"}}</h1>
    </section>
  </nav>

  <div class="about_page" id="how_to">
    <div class="row">
      <div class="columns intro_text">
        <p>{{t "about.introduction.opening" }}</p>
        <p>{{t "about.introduction.eligible_orgs" }}</p>
        <ul class="small light">
          <li>{{ t "about.introduction.charities" }}</li>
          <li>{{ t "about.introduction.social_welfare" }}</li>
          <li>{{ t "about.introduction.educational" }}</li>
          <li>{{ t "about.introduction.other_groups" }}</li>
        </ul>
        <p>{{ t "about.introduction.ways" }}</p>
        <ul class="small light fa-bullets">
          <li><i class="fa">{{fa-icon 'shopping-cart'}}</i><b>{{ t "about.introduction.browse_online" }}</b> {{ t "about.introduction.browse_online_desc" }}</li>
          <li><i class="fa">{{fa-icon 'calendar-alt'}}</i><b>{{ t "about.introduction.book" }}</b> {{ t "about.introduction.book_desc" }}</li>
          <li><i class="fa">{{fa-icon 'hand-paper'}}</i><b>{{ t "about.introduction.direct" }}</b> {{ t "about.introduction.direct_desc" }}</li>
        </ul>
        {{#link-to 'faq'}}<p>{{ t "about.introduction.faq" }}</p>{{/link-to}}
      </div>
    </div>

    <div class="row">
      <!-- Order online -->
      <div class="small-12 columns">
        <div class="section_text">
          <div class="section_subtitle">{{ t "about.order_goods.title" }}</div>

          {{#if onlineOrderWarning}}
            <div class="row">
              <div class="columns small-12 small-centered warning-text">
                <div class="alert-box warning">
                  {{onlineOrderWarning}}
                </div>
              </div>
            </div>
          {{/if}}

          <ol class="small light">
            <li>{{ t "about.order_goods.step_1.desc" }}</li>
            <li>{{ t "about.order_goods.step_2.desc" }}</li>
            <li>
              {{ t "about.order_goods.step_3.desc" }}
              <ul class="small">
                <li>{{ t "about.order_goods.step_3.bullet_1"}}</li>
                <li>{{ t "about.order_goods.step_3.bullet_2"}}</li>
                <li>{{ t "about.order_goods.step_3.bullet_3"}}</li>
                <li>{{ t "about.order_goods.step_3.bullet_4"}}</li>
              </ul>
            </li>
            <li>
              <div>{{ t "about.order_goods.step_4.desc" }}</div>
              <ul class="small">
                <li>{{ t "about.order_goods.step_4.bullet_1"}}</li>
                <li>{{ t "about.order_goods.step_4.bullet_2"}}</li>
                <li>{{ t "about.order_goods.step_4.bullet_3"}}</li>
              </ul>
            </li>
          </ol>
        </div>

        <div class="section_text">
          <div>{{ t "about.transport_options" }} </div>
          <ul class="small light list-alpha">
            <li>{{ t "about.collection_transport_description" }}</li>
            <li>{{ t "about.van_transport_description" }} <strong>{{ t "about.van_transport_note" }}</strong></li>
          </ul>
        </div>

        <div>
          <div class="small">
            {{ t "about.tap_button" }} {{#link-to "faq"}}{{ t "about.see_our_faqs" }}{{/link-to}}
          </div>
          {{#link-to "browse"}}
          <div class="button small action">
            <i class="fa">{{fa-icon 'shopping-cart'}}</i> {{ t "about.order_goods.action" }}
          </div>
          {{/link-to}}
        </div>
      </div>

      <!-- Visit our center -->
      <div class="small-12 columns">
        <div class="section_text">
          <div class="section_subtitle"> {{ t "about.visit.title" }} </div>

          {{#if appointmentWarning}}
            <div class="row">
              <div class="columns small-12 warning-text">
                <div class="alert-box warning">
                  {{appointmentWarning}}
                </div>
              </div>
            </div>
          {{/if}}

          <div>
            <p class="small light">{{ t "about.visit.guide_intro" }}</p>
          </div>
          <div>
            <ol class="small light">
              <li>{{ t "about.visit.guide_step_1" }}</li>
              <li>{{ t "about.visit.guide_step_2" }}</li>
              <li>{{ t "about.visit.guide_step_3" }}</li>
              <li>{{ t "about.visit.guide_step_3" }}</li>
            </ol>
          </div>
          <div>
            <p class="small light">{{ t "about.visit.onsite_guide_intro" }}</p>
          </div>
          <div>
            <ol class="small light">
              <li>{{ t "about.visit.onsite_guide_step_1" }}</li>
              <li>{{ t "about.visit.onsite_guide_step_2" }}</li>
              <li>{{ t "about.visit.onsite_guide_step_3" }}</li>
            </ol>
          </div>
        </div>
        <div>
          <div class="small">
            {{ t "about.tap_button" }} {{#link-to "faq"}}{{ t "about.see_our_faqs" }}{{/link-to}}
          </div>
          {{book-appointment prevPath="about"}}
        </div>
      </div>

      <!-- Direct from donors -->
      <div class="small-12 columns">
        <div class="section_text">
          <div class="section_subtitle"> {{ t "about.direct.title" }} </div>

          <div class="small light"> {{ t "about.direct.intro" }} </div>
          <div>
            <ol class="small light">
              <li>{{ t "about.direct.step_1" }}</li>
              <li>{{ t "about.direct.step_2" }}</li>
              <li>{{ t "about.direct.step_3" }}</li>
              <li>{{ t "about.direct.step_4" }}
                <ul class="small light">
                  <li>{{ t "about.direct.step_4a" }}</li>
                  <li>{{ t "about.direct.step_4b" }}</li>
                </ul>
              </li>
            </ol>
          </div>

          <div>
            <div class="small">{{ t "about.tap_button" }} {{#link-to "faq"}}{{ t "about.see_our_faqs" }}{{/link-to}}</div>
            {{#link-to "offers"}}
            <div class="button small action">
              <i class="fa">{{fa-icon 'hand-paper'}}</i> {{ t "about.direct.action" }}
            </div>
            {{/link-to}}
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
