<section class="main-section new-user-section ui login_page">
  <nav class="tab-bar">

    <section class="left-large">
      {{#back-link fallbackRoute="/" }}
        {{fa-icon "angle-left"}} {{t "back"}}
      {{/back-link}}
    </section>

    <section class="middle tab-bar-section">
      <h1 class="title">{{t "about.title"}}</h1>
    </section>
  </nav>

  <div class="about_page" id="how_to">
    <div class="row">
      <div class="columns intro_text">
        <p>{{t "about.introduction.opening" }}</p>
        <ul>
          <li>{{ t "about.introduction.charities" }}</li>
          <li>{{ t "about.introduction.social_welfare" }}</li>
          <li>{{ t "about.introduction.educational" }}</li>
          <li>{{ t "about.introduction.other_groups" }}</li>
        </ul>
        <p>{{ t "about.introduction.two_ways" }}</p>
      </div>
    </div>


    <div class="row">
      <!-- How to browse -->
      <div class="columns large-6">
        <div class="section_text small">
          <div class="section_subtitle">{{ t "about.order_goods.title" }}</div>

          {{#if onlineOrderWarning}}
            <div class="row">
              <div class="columns small-12 small-centered warning-text">
                <div class="alert-box warning">
                  {{onlineOrderWarning}}
                </div>
              </div>
            </div>
          {{/if}}

          <div class="step"> 1) {{ t "about.order_goods.step_1.desc" }} </div>
          <div class="step"> 2) {{ t "about.order_goods.step_2.desc" }} </div>
          <div class="step">
            <div> 3) {{ t "about.order_goods.step_3.desc" }} </div>
            {{#each (range 1 4) as |num|}}
            <div class="bullet"> - {{ t (concat "about.order_goods.step_3.bullet_" num )}} </div>
            {{/each}}
          </div>
          <div class="step">
            <div> 4) {{ t "about.order_goods.step_4.desc" }} </div>
            {{#each (range 1 3) as |num|}}
            <div class="bullet"> - {{ t (concat "about.order_goods.step_4.bullet_" num )}} </div>
            {{/each}}
          </div>
        </div>
        <div class="section_text small">
          <div>{{ t "about.transport_options" }} </div>
          <div class="step transport_option">a) {{ t "about.collection_transport_description" }} </div>
          <div class="step transport_option">b) {{ t "about.van_transport_description" }} <br> {{ t
                "about.van_transport_note" }} </div>
        </div>
        <div>
          <div class="small">{{ t "about.tap_button" }}</div>
          {{#link-to "browse"}}
          <div class="button small action">
            <i class="fa">{{fa-icon 'shopping-cart'}}</i> {{ t "about.order_goods.action" }}
          </div>
          {{/link-to}}
        </div>
      </div>

      <!-- How to visit -->
      <div class="columns large-6">
        <div class="section_text small">
          <div class="section_subtitle"> {{ t "about.visit.title" }} </div>

          {{#if appointmentWarning}}
            <div class="row">
              <div class="columns small-12 warning-text">
                <div class="alert-box warning">
                  {{appointmentWarning}}
                </div>
              </div>
            </div>
          {{/if}}

          <div class="step light"> {{ t "about.visit.guide_intro" }} </div>
          <div class="step light">
            {{#each (range 1 4) as |num|}}
            <div> {{ num }}) {{ t (concat "about.visit.guide_step_" num )}} </div>
            {{/each}}
          </div>
          <div class="step light"> {{ t "about.visit.onsite_guide_intro" }} </div>
          <div class="step light">
            {{#each (range 1 3) as |num|}}
            <div> {{ num }}) {{ t (concat "about.visit.onsite_guide_step_" num )}} </div>
            {{/each}}
          </div>
        </div>
        <div>
          <div class="small">{{ t "about.tap_button" }}</div>
          {{book-appointment prevPath="about"}}
        </div>
      </div>
    </div>
  </div>
</section>
