<div class="row checkout_pages">
  <div class="small-12 medium-9 large-9 columns">
    <section class="main-section new-user-section ui login_page">
      <nav class="tab-bar">
        <section class="left-small">
          {{fa-icon "angle-left"}} {{#link-to "authenticate" classNames="back"}}{{t "back"}}{{/link-to}}
        </section>
         <section class="middle tab-bar-section">
          <h1 class="title">Client Information</h1>
        </section>
      </nav>
      {{small-cart-toggle-view}}
    </section>
  </div>

  {{partial "cart_content/checkout_full_view"}}
</div>

<section class="main-section client-information">
  {{#validatable-form onSubmit=(action 'saveClientDetails') as |form|}}
    <div class="small-12 medium-9 large-9 columns type-of-id-text">
      Type of ID held by client
    </div>
    <div class="small-12 medium-9 large-9 columns id-confidential-text">
      We will use this ID to verify client on arrival.
    </div>
    <div class="small-12 medium-9 large-9 columns id-confidential-text">
      All client data is kept strictly confidential.
    </div>
    <div class="row time_inputs id-type-radio-input" >
      <div class=" custom_radio_buttons small-12 columns purpose" for="For organisation's own purpose">
          {{radio-button
          name="selectReason"
          id="own"
          value="own"
          selection=selectedId
          required='true'}}
        <label class="radio-button-text align-text">
          Hong Kong Identity Card
        </label>
      </div>

      <div class=" custom_radio_buttons small-12 columns purpose end" for="For benificiery">
          {{radio-button
          name="selectReason"
          id="benificiery"
          value="benificiery"
          selection=selectedId
          required='true'}}
        <label class="radio-button-text align-text">
          Asylum Seeker Recognizance Form
        </label>
      </div>
    </div>
    {{partial 'request/hk_identity_type_details'}}
  {{/validatable-form}}
</section>

