<section class="main-section privacy">
  <nav class="tab-bar">
    <section class="left-large">
      {{#back-link fallbackRoute="/" }}
        {{fa-icon "angle-left"}} {{t "back"}}
      {{/back-link}}
    </section>

    <section class="middle tab-bar-section">
      <h1 class="title">{{t "faq.title"}}</h1>
    </section>
  </nav>

  <div class="row">
    <div class="small-12 columns faq-page">
      <p>{{t "faq.description"}}</p>

      {{#if isEnglish }}
        {{partial "faq_en"}}
      {{else}}
        {{partial "faq_zhtw"}}
      {{/if}}

    </div>
  </div>
  {{go-to-top-button}}
  {{#if isMobileApp}}
    <a class="exit-off-canvas modify-off-canvas"></a>
  {{/if}}
</section>
