{{#if isMobileApp}}
{{scroll-to-bottom customClass="home-page-scroll-arrow" customScrollElement=".scroller"}}
{{/if}}

<div class="home_page">
  <div class="scroller">
    <div class="show-for-medium-up">
      <div id="image-background" class="image-overlay" />
      <div class="image-overlay tinted"></div>
    </div>
    <!-- Introduction -->
    <div class="content">
      <div class="row home_section small light">
        <div class="small-12 large-10 medium-10 columns introduction">
          {{ t "home.introduction" }}
          {{#link-to "faq"}}
          {{ t "home.faq_text" }}
          {{/link-to}}
        </div>
        {{#if hasCartItems}}
        <div class="cart-icon large-2 medium-2 columns">
          {{#link-to "cart"}}
          {{partial 'cart_truck_icon'}}
          {{/link-to}}
        </div>
        {{/if}}
      </div>
      <div class="row">
        <div class="small-12 columns intro-text">
          <h1>GoodCity For Charities<br><em class="chinese" lang="zh-hant">好人好巿 (慈善組織)</em></h1>
        </div>
      </div>
      <div class="row button_container">
        <!-- Browse button -->
        <div class="columns home_section large-6">
          <div class="section_title"> {{ t "home.order_goods.title" }} </div>
          <div class="section_subtitle small"> <i>{{fa-icon 'check'}}</i> {{ t "home.order_goods.subtitle" }}
            {{#link-to "about"}}{{t 'home.learn_more'}}{{/link-to}} </div>
          {{#link-to "browse"}}
          <div class="button small action">
            <i>{{fa-icon 'shopping-cart'}}</i> {{ t "home.order_goods.action" }}
          </div>
          {{/link-to}}
        </div>

        <!-- Visit button -->
        <div class="columns home_section large-6">
          <div class="section_title"> {{ t "home.visit.title" }} </div>
          <div class="section_subtitle small">
            <div><i>{{fa-icon 'check'}}</i> {{ t "home.visit.subtitle" }}
              {{#link-to "about"}}{{t 'home.learn_more'}}{{/link-to}} </div>
          </div>
          {{book-appointment}}
        </div>
      </div>
      {{ logo-banner device="desktop" }}
      {{ logo-banner device="mobile" }}
    </div>
  </div>
</div>
