<div class="home_page">
  <div class="scroller">
    <div class="show-for-medium-up">
      <div id="image-background" class="image-overlay" />
      <div class="image-overlay tinted"></div>
    </div>

    <!-- Introduction -->
    <div class="content">
      <div class="row home_section show-for-medium-up small light">
        <div class="notification-icon {{if hasCartItems 'with-cart-icon' ''}} large-2 medium-2 columns">
          {{notification-icon}}
        </div>
        <div class="large-6 medium-5 columns intro-text small-centered">
          <h1>GoodCity.HK For Charities<em class="chinese" lang="zh-hant">好人好巿 (慈善組織)</em></h1>
        </div>
        {{#if hasCartItems}}
        <div class="cart-icon large-2 medium-2 columns">
          {{#link-to "cart"}}
          {{partial 'cart_truck_icon'}}
          {{/link-to}}
        </div>
        {{/if}}
      </div>

      <div class="row">
        <div class="small-12 columns show-for-medium-up video-box">
          <p>{{ t "home.introduction" }}</p>
          <p class="youtube-text">
            {{#link-to "about"}}{{ t "home.faq_text" }}{{/link-to}}
            <a href={{crossroadsCharityYoutubeVideo}}>{{ t "home.introduction_video" }}&nbsp;<i>{{fa-icon "play-circle" prefix="far"}}</i></a>
          </p>
        </div>
      </div>

      <div class="row button_container order-cards">
        <div class="show-for-medium-up">
          {{ t "home.access_goods" }}
        </div>
        <div class="cards">
          {{order-cards icon='shopping-cart' prefix="fas" route='browse'  title="home.order_goods.title" subtitle= "home.order_goods.subtitle" src='assets/images/order-online.jpg'}}
          {{order-cards icon='calendar-alt' prefix="far" title="home.visit.title" subtitle= "home.visit.subtitle" src='assets/images/visit-center.jpg'}}
          {{order-cards icon='hand-paper' prefix="far" route='offers' title="home.offers.title" subtitle= "home.offers.subtitle" src='assets/images/offers.jpg'}}
        </div>
      </div>
      {{ logo-banner device="mobile" }}

    </div>
    {{ logo-banner device="desktop" }}


    <div class="row show-for-small video">
       <img src='assets/images/mobile-bg.jpg'alt="Picture" >
        <div class="intro">
       <p>{{ t "home.introduction" }}</p>
          <p class="youtube-text">
            {{#link-to "about"}}{{ t "home.faq_text" }}{{/link-to}}
            <a href={{crossroadsCharityYoutubeVideo}}>{{ t "home.introduction_video" }}&nbsp;<i>{{fa-icon "play-circle" prefix="far"}}</i></a>
          </p></div>
    </div>
  </div>
</div>
