{{#if isMobileApp}}
  {{scroll-to-bottom customClass="home-page-scroll-arrow" customScrollElement=".scroller"}}
{{/if}}

<div class="home_page {{if showCartDetailSidebar "shift_left" "" }}">
  <div class="scroller">

    <!-- Introduction -->
    <div class="row home_section small light">
      {{ t "home.introduction" }}
      {{#link-to "faq"}}
        {{ t "home.faq_text" }}
      {{/link-to}}
    </div>

    <div class="row button_container">
      <!-- Browse button -->
      <div class="columns home_section large-6">
        <div class="section_title"> {{ t "home.order_goods.title" }} </div>
        <div class="section_subtitle small"> <i class="fa fa-check"></i> {{ t "home.order_goods.subtitle" }} {{#link-to "about"}}Learn More{{/link-to}} </div>
        {{#link-to "browse"}}
          <div class="button small action">
            {{ t "home.order_goods.action" }} <i class="fa fa-shopping-cart"></i>
          </div>
        {{/link-to}}
      </div>

      <!-- Visit button -->
      <div class="columns home_section large-6">
        <div class="section_title"> {{ t "home.visit.title" }} </div>
        <div class="section_subtitle small">
          <div><i class="fa fa-check"></i> {{ t "home.visit.subtitle" }} {{#link-to "about"}}Learn More{{/link-to}} </div>
        </div>
        {{book-appointment}}
      </div>
    </div>
  {{ logo-banner device="desktop" }}
  {{ logo-banner device="mobile" }}
  </div>
</div>
