<div class="my_dashboard row">
  {{partial 'my_dashboard/my_dashboard_tabs'}}

  <div class="row">
  <div class="small-12 columns">
    <div class="row my_account content">
      <section class="details">
        <div class="row">
          <div class="small-12 large-10 large-offset-1 medium-10 medium-offset-1 columns">
            <div class="mobile">
              <div class="row">
                <div class="small-12 medium-12 large-12 columns section-title">
                  {{t 'my_dashboard.account.your_details'}}
                </div>
              </div>
              <div class="detail-row row">
                {{#if model.organisation}}
                <div class='row'>
                  <div class="small-5 columns data-type">
                    {{t "account.organisation"}}
                  </div>
                  <div class="small-7 columns data">
                    {{model.organisation.nameEn}}
                  </div>
                </div>
                {{/if}}
              </div>
              <div class="detail-row row">
                <div class="small-5 columns data-type">
                  {{t 'my_dashboard.account.name'}}
                </div>
                <div class="small-7 columns data">
                  {{model.user.firstName}} {{model.user.lastName}}
                </div>
              </div>
              <div class="detail-row row">
                <div class="small-5 columns data-type">{{t "account.position"}}</div>
                <div class="small-7 columns data">
                  {{#if model.organisationsUser}}
                  {{model.organisationsUser.position}}
                  {{/if}}
                </div>
              </div>
              <div class="detail-row row">
                <div class="small-5 columns data-type">
                  {{t 'account.email'}}
                </div>
                <div class="small-7 columns data">
                  {{#if model.user.email}}
                    {{model.user.email}}
                    {{#if model.user.isEmailVerified}}
                    <div class="verified_icon">
                        {{fa-icon "check-circle" prefix="far"}}
                    </div>
                    {{/if}}
                  {{/if}}
                </div>
              </div>
              <div class="detail-row row">
                <div class="small-5 columns data-type">
                  {{t 'account.mobile'}}
                </div>
                <div class="small-7 columns data">
                  {{#if model.user.mobile}}
                  {{model.user.mobileWithoutCountryCode}}
                  {{#if model.user.isMobileVerified}}
                  <div class="verified_icon">
                    {{fa-icon "check-circle" prefix="far"}}
                  </div>
                  {{/if}}
                  {{/if}}
                </div>
              </div>
              <div class="detail-row row">
                <div class="small-5 columns data-type">
                  {{t 'account.preffered_contact_number'}}
                </div>
                <div class="small-7 large-7 columns data">
                  {{#if (is-and model.organisationsUser model.organisationsUser.preferredContactNumber)}}
                  {{model.organisationsUser.preferredContactNumber}}
                  {{/if}}
                </div>
              </div>
              <div class="detail-row row">
                <div class="small-10 columns data-type">
                  <button {{action 'showPhoneOverlay'}}>{{t 'account.change_phone_number.title'}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  </div>

  {{change-phone-number-overlay model=model.user open=accountService.openPhoneOverlay}}
</div>
