<div class="row my_dashboard">
  {{partial 'my_dashboard/my_dashboard_tabs'}}

  <div class="small-12 columns my_orders">
    <div class="content">
      <div class="row">
        <div class="columns browse button-container small-7 large-6 medium-7">
          {{#book-appointment prevPath="my_bookings" as |appointment|}}
          <div class="browse-button button light" {{action appointment.clickItem}}>
            <i class="fa">{{fa-icon 'calendar-alt'}}</i>
            Create New Booking
          </div>
          {{/book-appointment}}
        </div>
        <div class="columns booking button-container small-4 large-6 medium-4">
          {{#link-to "about" class="learn-link"}}
          {{t 'home.order_goods.learn_how'}}
          {{/link-to}}
        </div>
      </div>
      <ul class="list list-items">
        {{#each arrangedOrders as |order|}}
        {{#if order.isDraft}}
        <div {{ action 'editOrder' order}}>
          {{ partial 'order/order_block'}}
        </div>
        {{else}}
        <div {{ action 'viewOrder' order}}>
          {{ partial 'order/order_block'}}
        </div>
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>
