<div class="row my_dashboard">
  <div class="title show-for-medium-up">{{t "my_dashboard.title"}}</div>
  {{partial 'my_dashboard/my_dashboard_tabs'}}

  <div class="small-12 columns my_orders">
    <div class="content">
      <div class="row">
        <div class="columns browse button-container small-5 large-6 medium-5">
          {{#link-to "browse"}}
            <div class="browse-button button light">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              {{t 'home.order_goods.action'}}
            </div>
          {{/link-to}}
        </div>
        <div class="columns booking button-container small-5 large-6 medium-5">
          {{book-appointment buttonStyle='light' isMyOrdersRoute= isMyOrdersRoute}}
        </div>
      </div>
      <ul class="list list-items">
        {{#each arrangedOrders as |order|}}
            {{#if order.isDraft}}
              {{#link-to 'request_purpose' (query-params bookAppointment=isAppointmentDraft orderId=order.id)}}
                {{ partial 'order/order_block'}}
              {{/link-to}}
            {{else}}
              {{#link-to "orders.detail" order.id}}
                {{ partial 'order/order_block'}}
              {{/link-to}}
            {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>
