<div class="row my_orders">
  {{#unless hideHeaderBar}}
    <div class="title show-for-medium-up">{{t "my_orders.my_orders"}}</div>
  {{/unless}}
    <div class="small-12 columns content">
      {{#if selectedOrder}}
        <div class="order-summary {{selectedOrder.state}}">
          {{partial "order/summary"}}
        </div>
      {{else}}
        <div class="row">
          <div class="columns button-container small-6">
            {{#link-to "browse"}}
              <div class="button light">
                {{t 'home.order_goods.action'}}
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              </div>
            {{/link-to}}
          </div>
          <div class="columns button-container small-6">
            {{book-appointment buttonStyle='light'}}
          </div>
        </div>
        <ul class="list list-items">
          {{#each arrangedOrders as |order|}}
            <li {{action "setOrder" order}}>
              {{ partial 'order/order_block'}}
            </li>
          {{/each}}
        </ul>
      {{/if}}
    </div>
</div>

{{#message-box  isVisible=showCancelBookingPopUp classNames="popupOverlay cancel-appointment"}}

    {{#if (is-and selectedOrder selectedOrder.isDraft)}}
      <p class="cancel-booking-warning">{{t "cancel_booking.draft_cancel_booking_warning"}}</p>
    {{else}}
      <p class="cancel-booking-warning">{{t "cancel_booking.cancel_booking_warning"}}</p>
      <p>{{t "cancel_booking.cancel_booking_info"}}</p>
      <p>{{t "cancel_booking.cancel_booking_reason_title"}}</p>
      {{auto-resize-textarea data-autoresize=true name="cancellation-reason" required="required" pattern=".*\S.*" id="appointment-cancellation-reason"}}
    {{/if}}
    <div class="row cancel-appointment-buttons">
      <div class="small-6 medium-6 large-6 columns">
        <a {{action 'removePopUp'}} class="button expand">
          {{t 'not_now'}}
        </a>
      </div>
      <div class="small-6 medium-6 large-6 columns">
        <a {{action 'cancelOrder'}} class="button expand">
          {{t 'cancel_booking.title'}}
        </a>
      </div>
    </div>
{{/message-box}}
