<div class="row my_orders">
  <div class="title show-for-medium-up">{{t "my_orders.my_orders"}}</div>
    <div class="small-12 columns content">
      {{#if selectedOrder}}
        <div class="order-summary {{selectedOrder.state}}">
          {{partial "order/summary"}}
        </div>
      {{else}}
        <div class="row">
          <div class="columns button-container small-6">
            {{#link-to "browse"}}
              <div class="button light">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                {{t 'home.order_goods.action'}}
              </div>
            {{/link-to}}
          </div>
          <div class="columns button-container small-6">
            {{book-appointment}}
          </div>
        </div>
        <ul class="list list-items">
          {{#each arrangedOrders as |order|}}
            <li {{action "setOrder" order}}>
              {{ partial 'order/order_block'}}
            </li>
          {{/each}}
        </ul>
      {{/if}}
    </div>
</div>
