<div class="inner-wrap">
  <section class="main-section privacy faq_list">

    <nav class="tab-bar">
      <section class="left-large">
        {{#back-link fallbackRoute="/" }}
          {{fa-icon "angle-left"}} {{t "back"}}
        {{/back-link}}
      </section>

      <section class="middle tab-bar-section">
        <h1 class="title">{{t "privacy.title"}}</h1>
      </section>
    </nav>
    <br/>

    <div class="row">
      <div class="small-12 columns">
        <p>{{t "privacy.confidentiality"}}</p>
        <p>
          {{t "privacy.ask_to_access"}}
          <a target="_blank" href = "https://www.crossroads.org.hk/home/contact/privacy/">
            {{t "privacy.here"}}.
          </a>
        </p>
        <p>{{t "privacy.change_privacy_policy"}}</p>
        <p>{{t "privacy.child"}}</p>
        <p><b>{{t "privacy.commitement_to_you"}}</b></p>
        <ul>
          <li>{{t "privacy.use_purposely"}}</li>
          <li>{{t "privacy.will_not_sell_dara"}}</li>
          <li>{{t "privacy.unsubscribe"}}</li>
          <li>{{t "privacy.questions"}}</li>
        </ul>
        <p><b>{{t "privacy.personal_data_collected"}}</b></p>
        <p>{{t "privacy.provide_data_to_use_services"}}</p>
        <ul>
          <li>{{t "privacy.contact_details"}}</li>
          <li>{{t "privacy.gender_and_dob"}}</li>
          <li>{{t "privacy.financial_information"}}</li>
          <li>{{t "privacy.personal_identifier"}}</li>
          <li>{{t "privacy.responses_to_feedback"}}</li>
        </ul>
        <p><b>{{t "privacy.purpose_and_use"}}</b></p>
        <p>{{t "privacy.will_use_data_for_following"}}</p>
        <ul>
          <li>{{t "privacy.new_or_any_invitation"}}</li>
          <li>{{t "privacy.respond_to_your_questions"}}</li>
          <li>{{t "privacy.to_process_feedback"}}</li>
          <li>{{t "privacy.requested_by_govt_or_legal_claim"}}</li>
          <li>{{t "privacy.deliver_items_to_you"}}</li>
          <li>{{t "privacy.improve_services"}}</li>
          <li>{{t "privacy.prevent_crime"}}</li>
        </ul>
        <p><b>{{t "privacy.third_parties"}}</b></p>
        <p>{{t "privacy.third_party_organisations"}}</p>
        <p>{{t "privacy.social_welfare_dept"}}</p>
        <p><b>{{t "privacy.crossroads_network"}}</b></p>
        <p>{{t "privacy.use_data_in_crossroads_network"}}</p>
        <p><b>{{t "privacy.correction_of_data"}}</b></p>
        <p>{{t "privacy.right_to_review_and_correct"}}</p>
        <p>{{t "privacy.last_updated"}}</p>
      </div>
    </div>
    {{go-to-top-button}}
  </section>
  {{#if isMobileApp}}
    <a class="exit-off-canvas modify-off-canvas"></a>
  {{/if}}
</div>
