<div class="row checkout_pages">
  <div class="small-12 columns">
    <section class="main-section new-user-section ui login_page">
      <nav class="tab-bar">
        <section class="left-large">
          {{fa-icon "angle-left"}} {{#link-to "home" classNames="back"}}{{t "back"}}{{/link-to}}
        </section>
         <section class="middle tab-bar-section">
          <h1 class="title">Request Purpose</h1>
        </section>
      </nav>
    </section>
  </div>
</div>

<section class="main-section request-purpose">
  {{#validatable-form onSubmit=(action 'createOrderWithRequestPuropose') as |form|}}
    <div class="small-12 columns">
      Purpose of Goods
    </div>
    <div class="row time_inputs purpose" >
      <div class=" custom_radio_buttons small-12 columns purpose" for="For organisation's own purpose">
        {{radio-button
        name="selectReason"
        id="1"
        value="organisation"
        selection=selectedId
        required='true'}}
        <label class="radio-button-text align-text">
          For organisation's own programs
        </label>
      </div>
      <div class=" custom_radio_buttons small-12 columns purpose end" for="For benificiery">
          {{radio-button
          name="selectReason"
          id="2"
          value="client"
          selection=selectedId
          required='true'}}
        <label class="radio-button-text align-text">
          For a client/benificiary
        </label>
      </div>
    </div>
    <div class="row people-count">
      <div class="small-12 columns people-count-label">
        How many people will benefit from these items?
      </div>
      <div class="small-12 columns">
        <div class="small-12 people-count-input">
          {{#form-control}}
            {{input type='number' value=peopleCount required='true'}}
            <div class='input-error'>You must input a number here</div>
          {{/form-control}}
        </div>
      </div>
    </div>
    <div class="row description-of-need">
      <div class="small-12 columns description">
        Description of need
      </div>
      <div class="small-12 columns reason-of-need">
        Please briefly describe why goods are needed.
      </div>
      {{#form-control}}
        <i class="fa fa-times-circle remove-text" aria-hidden="true" {{action "clearDescription"}}></i>
        {{auto-resize-textarea data-autoresize=true name="description" value=description required="required" pattern=".*\S.*" id="description"}}
        <div class='input-error'>Description cannot be blank.</div>
      {{/form-control}}
    </div>
    <div class="row">
      <div class="small-12 columns">
        <a {{action 'submit' target=form}} class="button expand">Continue</a>
      </div>
    </div>
  {{/validatable-form}}
</section>
