<div class="goods_search">
  <div class="row">
    <div class="small-12 large-offset-1 large-10">
      <div class="row fixed_search_header search-box ui">
        <div class="row">
          <div class="small-2 medium-1 large-1 columns back_button">
            <div class="back_icon" {{action "back"}}>
              {{fa-icon 'angle-left'}}
              <span class="package_back"> {{t "search_goods.done"}}</span>
            </div>
          </div>
          <div class="small-10 large-10 medium-10 columns">
            {{focus-textfield
              name="searchText"
              id="searchText"
              placeholder= (t "search_goods.placeholder")
              value=searchText }}

            {{#if hasSearchText}}
            <i {{action "clearSearch"}}>{{fa-icon 'times-circle'}}</i>
            {{/if}}
          </div>
          <div class=" large-1 medium-1 columns"></div>
          <div class="row">
            <div class="small-12 medium-12 columns">
              <label class="form-label search_info">{{t "search_goods.search_info"}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="package_search_result">
    <div class="row">
      <div class="small-12 medium-12 large-offset-1 large-10 columns">
        {{#if displayResults}}
        {{#infinite-list height="80vh" loadMore=(action "loadMoreGoods") as |items| }}
        <ul
          class="large-block-grid-5 small-block-grid-2 medium-block-grid-3 list-image items_list xxlarge-block-grid-4">
          <label class="search_results title">{{t 'search_goods.title'}}</label>
          {{#each items as |item|}}
          <li class="goods_search list">
            <div class="row" {{action "selectItem" item}}>
              <div class="small-12 large-12 columns item">
                {{cloudinary-image-tag src=item.displayImageUrl item=item displayItemOverlay=true}}
              </div>
            </div>
          </li>
          {{else}}
          <div class='no_result'>{{t "no_search_results"}}</div>
          {{/each}}
        </ul>
        {{/infinite-list}}
        {{/if}}
      </div>
    </div>
  </section>
</div>
