<div class="row">
  <div class="large-10 columns large-offset-1 medium-12 small-12">
    <div class="row checkout_pages">
      <div class="small-12 medium-12 large-12 columns">
        <div class="row">
          <section class="main-section new-user-section ui login_page">
            <nav class="tab-bar">
              <section class="left-large">
                <div class="back-button" {{action "goBack"}}>{{fa-icon "angle-left"}} {{t "back"}}</div>
              </section>
              <section class="middle tab-bar-section">
                <h1 class="title">{{ t "submitted_orders.submit_order" }}</h1>
              </section>
            </nav>

            {{#unless cart.isEmpty}}
            {{small-cart-toggle-view}}
            {{/unless}}
          </section>
        </div>

        <section class="main-section client-information large-12 small-12 medium-12 columns">
          <div class="submit-title">{{ t "submitted_orders.select_option" }}</div>
          <div class="row time_inputs purpose order-selection">
            <div class="custom_radio_buttons small-12 columns order-select">
              <label class="radio-button-text new-order-label align-text">
                {{ t "submitted_orders.create_new" }}
              </label>
              {{radio-button
              name="selectReason"
              id= "new_order"
              value= ""
              selection=orderId
              required='true'}}
            </div>
            {{#each submittableOrders as |order|}}
              <div class="custom_radio_buttons small-12 columns end order-selection-panel">
                {{radio-button
                name="selectReason"
                id= order.id
                value= order.id
                selection=orderId
                required='true'}}
                <label class="radio-button-text for-organisation align-text order-label">
                  <div>{{t 'submitted_orders.add_items' code=order.code}}</div>
                  <div class="order-fields">{{t 'submitted_orders.state'}}: {{order.state}} ({{t 'submitted_orders.not_confirmed'}})</div>
                  <div class="order-fields">{{t 'submitted_orders.due_date'}}:
                    {{order.appointmentDate}},
                    {{#if order.orderTransport.isMorning}}
                      {{t 'morning'}}
                    {{else}}
                      {{t 'afternoon'}}
                    {{/if}}
                  </div>
                  <div class="order-fields">{{t 'submitted_orders.client_name'}}: {{session.currentUser.fullName}}</div>
                </label>
              </div>
            {{/each}}
          </div>
          <div class="row">
            <div class="small-12 medium-12 columns continue-submit-order">
              <button class="button expand expand_button" {{action 'mergePackage'}}>{{t "continue"}}</button>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
